.homecontainer{
    /* background-color:rgba(64, 73, 194, 0.904); */
    background-image: url(https://image.shutterstock.com/image-photo/old-brick-black-color-wall-600w-1605128917.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    

}